body{
    font-family: 'Roboto', sans-serif;
}
.head {
    background-color: #b1c2ed;
    padding-top: 1px;
}
.head > h1{
    font-size: 64px;
    color: white;
    margin-top: 42px;
    margin-bottom: 15px;
    position:relative;
    left:195px;
}
.head > h2{
    font-size: 36px;
    color: #17328f;
    margin: 0 auto;
    padding-bottom: 15px;
    position:relative;
    left:200px;
}
header > nav {
    background-color: #9c6b6b;
}
header > nav > ul > li {
    display: inline-block;
    padding: 13px;
    position: relative;
    left: 150px;
}
header > nav > ul > li > a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}
header > nav > ul > li > a:hover {
    color: #410101;
    text-decoration: underline;
    font-weight: bold;
}
main > img {
    position: relative;
    left: 200px;
    padding: 20px 0;
    width: 1480px;
    height: auto;
}
.sidebar_title{
 position:relative;
 left:1460px;
 top:57px;
 font-size: 24px;
 font-weight:bold;
}
.sidebar h2{
    color:black;
    position:relative;
}
.sidebar{
    background-color:#B96767;
    position:relative;
    left:1380px;
    top:59px;
    width:270px;
    padding:20px;
}
.sidebar a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:18px;
}
.sidebar ul{
    list-style-type: none;
    position:relative;
    right:10%;
}
.sidebar a:hover{
    color: #410101;
    text-decoration: underline;
    font-weight: bold;  
}
.tolkien {
    background-color: #C4C4C4;
    width: 1150px;
    position:relative;
    bottom:440px;
    left:200px;
    padding:10px;
}
.tolkien_t > h2{
    font-size: 36px;
    position:relative;
    left:18px;

}
.tolkien_t > h3{
    font-size: 18px;
    position:relative;
    left:20px;
    bottom:30px;
}
.tolkien p{
    padding: 0 20px;
    font-size: 14px;
    position:relative;
    bottom:25px;
}
.tolkien > footer > h2{
    position:relative;
    font-size:14px;
    font-weight:bold;
    text-decoration: underline;
    left:1000px;
}
.tolkien a{
    color:black;
}
.tolkien a:hover{
    color:white;
}
.pokemon{
    background-color: #C4C4C4;
    width:750px;
    padding:15px;
    position:relative;
    bottom:415px;
    left:590px;
}
.pokemon > header > h2{
    position:relative;
    left:100px;
}
.floatr{
    position:absolute;
    top:1325px;
    left:1400px;
    float:right;
    height:350px;
}
.floatl{
    position:absolute;
    top:1325px;
    left:200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    float:left;
    height:350px;
}
#pokemon {
    margin:30px;
    position:relative;
    left:80px;
}
.floatp{
    height:370px;
    float:left;
    position:absolute;
}
.script{
    background-color:#C4C4C4;
    position:relative;
    left:360px;
    width:1200px;
    height:250px;
    padding:50px;
    margin: 25px 0;
}
.script > header > h2 {
    font-size:36px;
    margin:0 auto;
}
.script > header > h3 {
    font-size:18px;
    margin:0 auto;
}
.script > header > p{
    float:right;
    position:relative;
    right:920px;
    bottom:40px;

}
.footer{
    padding:50px;
}
.copyright{
    clear:both;
    width:100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color:#898989;
    text-align:center;
    padding: 25px;
    /*div.fixed {​​​​
        position: fixed;
        bottom: 0;
        right: 0;
      }​​​​ */
}